<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CS-Script.lib" version="3.28.2.0" targetFramework="net46" />
  <package id="Mono.CSharp" version="4.0.0.143" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.4845-RC2a" targetFramework="net46" />
</packages>